body {
    color: #222;
    font-family: sans-serif;
}

.t1{
    background: url(t1.jpg);
}
.t2{
    background: url(t2.jpg);
}
.t3{
    background: url(t3.jpg);
}
.zona{
    margin: 10px;
    background: #ddd;
    height: 200px;
}